# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
DebugConfig/
RTE/
build/
**/JLinkLog.txt

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.cmsis
*.eide
*.vscode
*.qtc_clangd
*.clang-format
.eide.usr.ctx.json
*.uvguix.gongji
*.uvguix.Jgcoder
*.scvd
*.idea
*.hex
*.vscode
*.vscode/*
*.mxproject
*.zip

MDK-ARM/.vscode/
MDK-ARM/DebugConfig/
MDK-ARM/iq/
MDK-ARM/RTE